.header-wrapper{
    background-color: #F0FFEF;
    border-radius: 15px;
    margin-inline: 2rem;
    margin-block: 1.37rem;
    padding-block: 2.625rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content-wrapper{
        max-width: 30rem ;
    }
}
.btn-primary{
    background-color: #009247;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    padding-inline: 3rem;
    padding-block: 1rem;
    display: flex;
    gap:12px;
    align-items: center;
    border: none;

}
.btn-primary-outline{
    border:1px solid #009247 ;
    color:#009247;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    padding-inline: 3rem;
    padding-block: 1rem;
    align-items: center;
    margin-right: 3.4rem;

}

.form-wrapper{
    max-width: 54.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
}