body{
    font-family: 'Poppins';
    color: #1F263E;

}
.auth-container{
    background-image: url('./assets/imgs/auth-bg.png');
    background-position: center center;
    background-size: cover;
}
.overlay{
    background-image: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);;
}
.sidebar-color{
    background-color: #1F263E;
    border-radius:0 60px 0 0 ; 

}
.sidebar-container .ps-sidebar-container{
    background-color: #1F263E;
    color: white;
    padding-top: 30px;
    border-radius:0 60px 0 0 ;
    height: 100vh;
}

.sidebar-container .ps-menu-button{
    padding-left: 30px !important;
}
.sidebar-container .ps-menu-icon{
    margin-right: 20px;
}

.sidebar-container .ps-sidebar-root{
    border: none;
}

.sidebar-container .logo-menu-item .ps-menu-button{
    margin-left: 40px;
    img{
        width:170px;
    }
    
   }
   .sidebar-container .logo-menu-item-colapsed .ps-menu-button{
    img{
        width:90px;   
    }
   }
.sidebar-container .logo-menu-item-colapsed .ps-menu-button:hover{
    background-color: transparent !important;
}


.sidebar-container .logo-menu-item .ps-menu-button:hover{
    background-color: transparent !important;
   }
   
.sidebar-container .ps-menu-button:hover{
    background-color: #00924D1A !important;

}
.header-container{
    background-image: url('./assets/imgs/header-bg.svg'),linear-gradient( #009247,#009247);
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
    color: white;
    padding: 0 50px;
    border-radius: 15px;
}
 .btn-close {
    --bs-btn-close-bg:url('https://cdn2.iconfinder.com/data/icons/thin-line-color-1/21/07-512.png');
    font-size: 32px;
    width: 32px;
}
.table{
    --bs-table-border-color: transparent;
}
.table-head{ 
     --bs-table-bg-type: #E2E5EB !important;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
}
.table-head th{
    padding: 32px; 
    text-align: center;
}
.table-head th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
} 
.table-head th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} 
.table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-bg-type:white;
}
.table-striped>tbody{
    --bs-table-bg-type:#F8F9FB;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 32px; 
    text-align: center;

}

